* {
    box-sizing: border-box;
}

body {

    background-color: #e9edf6; 
    margin: 0px;
    padding: 0px;
    font-family: "Karla", sans-serif;

}

main{
    width : 100vh;
    height: 110vh;
    color: #2E2787; 
    padding:0px;
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

hr{
    border: 0.5px solid lightgray;
}

select{
    font-size: 15px;
    margin-bottom: 2em;
    margin-top: 0.7em;
    padding: 5px;
}

.form{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    
}

.startPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.quizPage{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}
.summary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.summaryP{
    padding:10px;
    margin-right: 10px;
    font-size: large;
    font-weight: bold;
}
.paramsP{
    width: 35em;
    font-size: 17px;
    font-weight: 600;
    margin-top: 3em;
}

.startButton{
    width:8em;
    height:2em;
    font-size:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.chckAnswersBttn{
    font-size:15px;
    border-radius: 10px;
    margin-top: 20px;
    height: 40px;
    width: 130px;

}

.playAgainButton{
    padding:10px;
    margin-left: 10px;
    margin-bottom:20px;
    font-size:15px;
    border-radius: 10px;
    margin-top: 20px;
    height: 40px;
    width: 130px;
}

.resetParamsBttn{
    font-size:15px;
    border-radius: 10px;
    margin-top: 20px;
    height: 40px;
    width: 150px;  
    padding:8px;
    margin-left: 10px;
    margin-bottom:20px;  
}

.buttonStyle{
    background-color:#5035FF;
    color: #FFFFFF;  
    font-family:Karla;
    cursor: pointer;    
}

.answerDivLayout{
    display: flex;
    flex-direction: row;
    justify-content: center;
        
}

.answerDivStyle{
    margin-left: 20px;
    margin-right: 20px; 
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.selectAnswerStyle{
    background-color: #CCCCFF;
    border: none;
}

.correctAnswerStyle{
    background-color: #3cb371;
    border: none;
}

.wrongAnswerStyle{
    background-color: #ff9999;
    border: none;    
}



